.testimonial-container-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  place-items: center;
}
.testional-header-sub-container {
  display: flex;
  justify-content: space-between;
}

.testimonials-container {
  grid-column: 1/4;
  width: 94%;
}

.testional-header-sub-container .primary-btn {
  margin: 0;
}
.client-testimonials {
  font-family: "Jost";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 372px;
  height: 216px;
  margin: 40px 0px;
}
.client-testimonials .stack-os-text {
  width: 178px;
  height: 52px;
  font-size: 2rem;
}

.client-review {
  width: 372dp;
  height: 58dp;
  font: normal normal 400 18px/32px Jost;
  letter-spacing: 0dp;
  color: rgba(57, 20, 0, 1);
  opacity: 1;
  padding-bottom: 20px;
}
.client-detail strong {
  font-size: 22px;
}
